# Python
__pycache__/
*.pyc

# Virtual Environment
env/
env2/
venv/

# Django
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# ML Models (optional)
*.joblib

# OS Files
.DS_Store
Thumbs.db